/*!
 * Quara Theme by OllieJW (https://olliejw.me)
 * License - https://olliejw.me/tos
 */

:root {
  --dark-color: #212121; /* Colour of dark section */
  --dark-text-color: #fff; /* Colour of text in dark section */
  
  --light-color: #212121; /* Colour of light section */
  --light-text-color: #fff; /* Colour of text in light section */
  
  --button-color: #212121; /* Colour of buttons */
  --button-text-color: #fff; /* Colour of the text in buttons */
  --button-hover-color: #0166FF; /* Colour of button when hovered over */
  --button-hover-text-color: #fff; /* Colour of text in button when hovered over */
  
  --info-color: #4bb4f1; /* Colour of important text (Player count, IP) */
  
  --pinned-message-color: #212121; /* Colour pinned message section */
  --pinned-message-text-color: #fff; /* Colour of text in pinned message section */
  --pinned-button-color: #323232; /* Colour of button in pinned message section */
  --pinned-button-text-color: #fff; /* Colour of text in button in pinned message section */
  --pinned-button-hover-color: #00ABFF; /* Colour of button in pinned message section when hovered over */ 
  --pinned-button-hover-text-color: #fff; /* Colour of text in button in pinned message section when hovered over */
}